// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .direction{
    position:absolute;
    top:0;
    height:450px;
    width:40%;
  }
// .alert{
//   width:50%;
//   position:absolute;
//   float:right;
// }

}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .direction{
      width:30rem;
    }
  
}
 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}