// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

  .img-container {
    max-width:90%;
    height: auto;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .img-container {
    max-width:50%;
    height: auto;
  }



.direction{
    max-height:90%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .direction{
    position: static;
    top:0;
    width:40%;
  }

}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .direction{
      width:30rem;
    }
  }
 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}