
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

// Variables
@import 'variables';
@import 'sidebar';
@import 'owl';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  overflow-x: hidden;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//text box shadow
.shadow {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important;
}
.border {
  border-left: 1px solid $light;
  border-right: 1px solid $light;
  border-bottom: 1px solid $light;
  border-radius: 5px;
}
#settings{
  li{
    i{
      color:$blue;
      
    }
  }
}
.name{
  font-size:20px;
  font-weight:500;
}
.fas{
  font-size:20px;
}
strong{
  font-weight:500;
}
p{
  margin-bottom:3px;
}
.greenPrice{
  font-size:20px;
  font-weight:500;
}
.rating{
  display: inline;
  font-size:30px;
  font-weight:500;
  // margin:10px;
  // width:40px;
  position:relative;
}
.ratingSmall{
  display:inline;
  font-size:20px;
}
.starSmall{
  font-size:16px;
}
.img-container {
  width:100px;
  height:100px;

}
.fa-edit{
  color:$blue !important;
}
#settings{
  width:100%;
  li{
    a{
      text-decoration: none;
      color:$black;
      }
    &:hover {
      background-color:rgb(230, 230, 230);
      font-weight:500;
    }
  }
}
.backBtn{
  i{
    color:white;
    float:left;
    font-size:24px;
  }
}
.img-container img {
  border-radius: 50%;
  width:100%;
  min-width:100%;
  min-height:100%;
}
.img-containerSmall{
  width:60px;
  height:60px;
  img {
    border-radius: 50%;
    width:100%;
    min-width:100%;
    min-height:100%;
  }

}

#driverDate{
  display:none;
}
#profile h2 {
  padding: 0.5rem 0;
}
#profile h2 a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}
#profile h2 a:hover {
  font-weight: 500;
  color: #fff;
}
.prediction-container {
  position: relative;
}
.predictions {
  position: absolute !important;
  top: 0.2rem;
  background-color: white;
  & > * {
    cursor: pointer;
    padding: 0.5rem;
  }
  & > *:not(:last-child) {
    border-bottom: 1px solid $light;
  }
}
#submitTrip{
  margin-top:35px;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.direction {
  box-shadow: 1px 1px 2px 2px #ddd;
  background-color: #fff;
  padding-bottom: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

// CAROUSEL DOTS
.owl-dots {
  display: none;
  content: ''
}
.dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: $green;
  margin: 0 0.5rem;

  &.inactive {
    background-color: transparent;
    border: 1px solid $green;
  }
}

.bg-green {
  background-color: #15AA35;
}

.flash-message {
  display: none;
}
#driversList{
  ul{
  
    li{
      border:none;
      display:inherit;
     }
  }
}
// SWITCH

.switch-container{
  position: relative;
  right:10px;
  margin: 0.5rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:115px;
  background-color: #202020;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}
.border-green-left{
  border-left: 8px solid $green;
}
.border-blue-left{
  border-left: 8px solid $blue;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color:$green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(80px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'Rider';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 55%;
 font-size: 16px;
}

input:checked + .slider:after
{  
  content:'Driver';
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  font-size: 16px;
  top: 50%;
  left: 45%;
  
}

/*--------- END --------*/

@import 'mediaqueries';