
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

// Variables
@import 'variables';
@import 'owl';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  overflow-x: hidden;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
// Assuming text-green is for h1?

.text-green {
  color: $green;
}
.text-blue {
  color: $blue;
}
.bg-green {
  background-color: $green;
}
.bg-blue {
  background-color: $blue;
}
.text-bold{
  font-weight: 500;
}
.bg-transparent{
  background-color: transparent;
}
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 9999;
}

// form input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
//   background-color: #fff !important;
// }

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.5);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

//text box shadow
.shadow {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important;
}

#profile {
  padding: 1rem 0;
}
#profile div img {
  border-radius: 50%;
  width: 40%;
  height: auto;
}
#profile h2 {
  padding: 0.5rem 0;
}
#profile h2 a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}
#profile h2 a:hover {
  font-weight: 500;
  color: #fff;
}

#map {
  height: 20rem;
  width: 100%;
}

// STEPS
.owl-dots {
  display: none;
  content: ''
}
.dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: $green;
  margin: 0 0.5rem;

  &.inactive {
    background-color: transparent;
    border: 1px solid $green;
  }
}


@for $i from 2 through 9 {
  .box[data-max="#{$i}"] {
    @for $j from 1 through $i {
      input:nth-of-type(#{$j}):checked ~ hr::after {
        transform: scaleX(#{($j - 1) / ($i - 1)});
      }
    }
  }
}


// END STEPS

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .sidebar {
    position: relative;
    border-right: 1px solid $light;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}