
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
// Assuming text-green is for h1?

.text-green {
  color: $green;
}
.text-blue {
  color: $blue;
}
.bg-green {
  background-color: $green;
}
.bg-blue {
  background-color: $blue;
}
text-bold{
  font-weight: 500;
}
.bg-transparent{
  background-color: transparent;
}
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 9999;
}
.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.5);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}
#profile {
  padding: 1rem 0;
}
#profile div img {
  border-radius: 50%;
  width: 40%;
  height: auto;
}
#profile h2 {
  padding: 0.5rem 0;
}

#map {
  height: 20rem;
  width: 100%;
}

.heading-test {
  color: red;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .sidebar {
    position: relative;
    border-right: 1px solid $light;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}